        :root {
            --clr-background: #f3fff8;
            --clr-primary-dark: #0f766e;
            --clr-primary: #14b8a6;
            --clr-white: #fff;
            --clr-offwhite: #fefefe;
            --clr-text-dark: #134e4a;
            --clr-shadow: rgba(15, 118, 110, 0.15);
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
            background: #f3fff8;
            color: var(--clr-text-dark);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .box {
            background: #fff;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 0 8px rgba(0,0,0,0.08);
            width: 350px;
        }

        h2 {
            text-align: center;
            color: var(--clr-primary-dark);
        }

        .msg {
            text-align: center;
            color: red;
            margin-bottom: 10px;
        }

        .otp-container {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
        }

        .otp-box {
            width: 45px;
            height: 50px;
            text-align: center;
            font-size: 22px;
            border: 2px solid #ccc;
            border-radius: 8px;
        }

        .otp-box:focus {
            border-color:var(--clr-primary);
            outline: none;
        }

        button {
            width: 100%;
            padding: 10px;
            background:var(--clr-primary);
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }
        
        button:hover {
            background: var(--clr-primary-dark);
        }
  